.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #FFD500;
    background-size: 100%;
    height: 20px;
    border-radius: 10px;
    position: sticky;
    
    z-index: 1000;
  }
  
  .logoContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
   
  }
  
  .title {
    font-size: 1.6rem;
    color: var(--accent);
    font-weight: bold;
  }
  
  .nav {
    display: flex;
    gap: 1rem;
  }
  
  .link {
    color: white;
    background-color: var(--blue-accent);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    text-decoration: none;
    transition: background 0.3s ease;
  }
  
  .link:hover {
    background-color: var(--accent);
  }
  

  